accelerate==1.6.0
apex==0.9.10dev
codetiming==1.4.0
cupy_cuda12x==13.4.1
datasets==3.5.1
dill==0.3.8
einops==0.8.1
filelock==3.18.0
flash_attn==2.7.4.post1
huggingface_hub==0.30.2
hydra-core==1.3.2
latex2sympy2==1.9.1
liger_kernel==0.5.10
mathruler==0.1.0
mlflow==3.1.1
modelscope==1.27.1
numpy==2.3.1
omegaconf==2.3.0
packaging==25.0
pandas==2.3.0
peft==0.15.2
Pillow==11.2.1
pip==25.1.1
psutil==7.0.0
psutil==6.1.0
psutil==5.9.0
pyext==0.6
pylatexenc==2.10
pytest==8.4.1
qwen_vl_utils==0.0.11
regex==2024.11.6
safetensors==0.5.3
setuptools==75.1.0
swanlab==0.6.4
sympy==1.13.1
tensordict==0.6.2
timeout_decorator==0.5.0
torch==2.6.0
torchdata==0.11.0
tqdm==4.66.5
word2number==1.1
